{% extends '_base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="well text-center">
        <h3><img src="/static/img/dove.svg" style="width:50px;"/>Pigeon Messenger</h3>
    </div>
    <p class="alert alert-info" style="width: 600px;"><span
            class="glyphicon glyphicon-info-sign"></span><strong> Info! </strong>Your messages will be broadcasted.
        Means
        that you won't know who is reading it.<br> <strong>Be gentle, Be courteous !!</strong>
    </p>
    <div class="col-sm-4">

        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-4" for="message">User Name: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="username" placeholder="User Name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4">Message: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="myMessage" placeholder="Your Message">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" id="sendButton">Send <span
                            class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-8 msg-board" id="msg-board">
        <ul id="message"></ul>
    </div>
</div>

{% endblock %}